<div>
  <link href="./navigation-links.css" rel="stylesheet" />
  <nav class="navigation-links-nav">
    <a href="events.html" class="navigation-links-text"><span>Events</span></a>
    <a href="gallery.html" class="navigation-links-navlink">
      <span>Gallery</span>
    </a>
    <span class="navigation-links-text1"><span>Sponser ISAC</span></span>
    <a href="team.html" class="navigation-links-navlink1"><span>Team</span></a>
    <div
      data-thq="thq-dropdown"
      class="navigation-links-thq-dropdown list-item"
    >
      <div
        data-thq="thq-dropdown-toggle"
        class="navigation-links-dropdown-toggle"
      >
        <span class="navigation-links-text2">
          <span>Links</span>
          <br />
        </span>
        <div
          data-thq="thq-dropdown-arrow"
          class="navigation-links-dropdown-arrow"
        >
          <svg viewBox="0 0 1024 1024" class="navigation-links-icon">
            <path d="M426 726v-428l214 214z"></path>
          </svg>
        </div>
      </div>
      <ul data-thq="thq-dropdown-list" class="navigation-links-dropdown-list">
        <li data-thq="thq-dropdown" class="navigation-links-dropdown list-item">
          <div
            data-thq="thq-dropdown-toggle"
            class="navigation-links-dropdown-toggle1"
          >
            <span class="navigation-links-text5">Sub-menu Item</span>
          </div>
        </li>
        <li
          data-thq="thq-dropdown"
          class="navigation-links-dropdown1 list-item"
        >
          <div
            data-thq="thq-dropdown-toggle"
            class="navigation-links-dropdown-toggle2"
          >
            <span class="navigation-links-text6">Sub-menu Item</span>
          </div>
        </li>
        <li
          data-thq="thq-dropdown"
          class="navigation-links-dropdown2 list-item"
        >
          <div
            data-thq="thq-dropdown-toggle"
            class="navigation-links-dropdown-toggle3"
          >
            <span class="navigation-links-text7">Sub-menu Item</span>
          </div>
        </li>
      </ul>
    </div>
  </nav>
</div>
