.navbar {
    background-color: rgb(58, 132, 156);
}

.App .card{
    height: 600px;
}

#ThankYouCard {
    align-items: center;
    margin-left: -5%;
    height: 100%;
    opacity: 1;
    background-image: linear-gradient(45deg, rgb(242, 248, 248) 0.00%,rgb(69, 235, 8) 100.00%);
    background-blend-mode:luminosity;
}

#contactForm {
    margin-right: -5%;
}
