@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    margin: 0;
}

a {
    text-decoration: none;
}

a:hover {
    color: indianred;
}




@keyframes fadeInUp {
    from {
        transform: translate3d(0, 40px, 0);
        opacity: 0;
    }

    to {
        transform: translate3d(0, 0, 0);
        opacity: 1;
    }
}

.fadeInUp {
    animation-name: fadeInUp;
    animation-duration: 1.5s;
    animation-fill-mode: both;
    color: #071426;
    /* Use 'forwards' to retain the style set by the last keyframe */
    /* Use 'infinite' for a continuous loop */
}

p.p-m-3.banner-subtext.fadeInUp {
    font-size: 25px;
}

h1.banner-main-text.fadeInUp {
    font-size: 56px;
    margin-bottom: 0;
}

.fireworks-container {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    animation: fireworks 5s infinite;
}

.firework {
    position: absolute;
    width: 10px;
    height: 10px;
    background: #f00;
    border-radius: 50%;
    opacity: 0;
    transform: translateY(0) scale(0);
    animation: explode 1s infinite;
}

@keyframes fireworks {
    0% {
        transform: translateY(0) scale(0);
    }

    100% {
        transform: translateY(-1000px) scale(2);
    }
}

@keyframes explode {
    0% {
        transform: translateY(0) scale(0);
        opacity: 0;
    }

    50% {
        transform: translateY(-100px) scale(1);
        opacity: 1;
    }

    100% {
        transform: translateY(-200px) scale(0);
        opacity: 0;
    }
}


/* team */



.team_page header {
    height: 20%;
    margin: 0 36px;
}

.team_page .title h1 {
    font-size: 60px;
    padding: 0;
    margin: 0;

}

.team_page .content {
    margin-top: 20px;
}

.team_page .content h2 {
    margin: 0 !important;
    animation: 3s fadeInUpImage;
    font-size: 30px;
}

.team_page .content p {
    margin: 2px !important;
    font-size: 20px;
    animation: 5s fadeInUpImage;
}

.team_page .content p strong {
    font-size: 22px;
    color: #93C5FD;
}

.slide-right {
    animation: 2s slide-right;
}

@keyframes slide-right {
    from {
        margin-left: -100%;
    }

    to {
        margin-left: 0%;
    }
}


.team_page main {
    display: grid;
    grid-template-columns: repeat(8, 2fr);
    column-gap: 50px;
    row-gap: 70px;
    padding: 50px 50px;
}

.team_page main .profile {
    display: flex;
    justify-content: center;
    position: relative;
}

.team_page main .profile figure {
    width: 100%;
    display: flex;
    flex-direction: column;
    position: relative;
    margin: 0;
}

.team_page main .profile figure img {

    width: 70%;
    animation: 4s fadeInUpImage;
}

.team_page main .profile figure figcaption {
    font-size: 16px;
    font-weight: 500;
    margin-top: 12px;
    text-transform: capitalize;
    cursor: pointer;
}

.team_page main .profile figure::after {
    content: attr(data-value);
    width: 100%;
    transform-origin: 0 0;
    transform: rotate(90deg);
    position: absolute;
    text-transform: uppercase;
    font-size: 12px;
    right: -65%;
}

.team_page main .profile:nth-child(2) {
    margin-top: 70px;
}

.team_page main .profile:nth-child(5) {
    margin-top: -70px;
}

.team_page main .profile:nth-child(7) {
    margin-top: -70px;
}

@keyframes fadeInUpImage {
    from {
        transform: translate3d(0, 40px, 0);
        opacity: 0;
    }

    to {
        transform: translate3d(0, 0, 0);
        opacity: 1;
    }
}


/* Custom styles for the profile cards */
.team-grid {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: flex-start;
}



/* Styles for the card title and subtitle */
.team-grid .p-card-title {
    font-size: 1.2em;
    margin-top: 1em;
}

.team-grid .p-card-subtitle {
    color: #555;
    margin-bottom: 0.5em;
}
