@tailwind base;
@tailwind components;
@tailwind utilities;

.mx-10 {
    margin: 10px;
}

.event-carousel .event-content {
    border: 1px solid var(--surface-d);
    border-radius: 3px;
    margin: .3rem;
    text-align: center;
    padding: 2rem 0;
}

.event-carousel .event-image {
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
}

.p-menubar {
    background: transparent;
    border: none;
}

.nevigation {
    background: #071426;
}

.information {
    margin-top: 0.83em
}

@keyframes fadeInUp {
    from {
        transform: translate3d(0, 40px, 0);
        opacity: 0;
    }

    to {
        transform: translate3d(0, 0, 0);
        opacity: 1;
    }
}

.fadeInUp {
    animation-name: fadeInUp;
    animation-duration: 1.5s;
    animation-fill-mode: both;
    /* Use 'forwards' to retain the style set by the last keyframe */
    /* Use 'infinite' for a continuous loop */
}

p.p-m-3.banner-subtext.fadeInUp {
    font-size: 20px;
}